Obligatorio2/sistemaCentralPagos/src/main/app/sistemaCentralPagos.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:core="http://www.mulesoft.org/schema/mule/core"
    xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" 
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc" xmlns:cluster="http://www.mulesoft.org/schema/mule/ee/cluster"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	<configuration doc:name="Configuration">
		<http:config useTransportForUris="false" />
	</configuration>
	<http:listener-config name="HTTP_Listener_Configuration"
		host="localhost" port="8081" doc:name="HTTP Listener Configuration">
		<http:worker-threading-profile
			poolExhaustedAction="WAIT" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_Configuration"
		host="localhost" port="8080" doc:name="HTTP Request Configuration" />
	<ws:consumer-config name="Web_Service_Amazonia"
		wsdlLocation="http://localhost:8080/stockLocal/services/stock_local?wsdl"
		service="StockLocalService" port="StockLocalPort"
		serviceAddress="http://localhost:8080/stockLocal/services/stock_local"
		doc:name="Web Service Consumer" />
	<file:connector name="FileConnector" outputPattern="#[server.dateTime]"
		writeToDirectory="C:\outputMiddleware\ordenes"
		readFromDirectory="C:\outputMiddleware\confirmaciones"
		
		autoDelete="true" streaming="true" validateConnections="true"
		doc:name="File"  />

    <file:connector name="FileConnector-AnulacionesPedidos" doc:name="File" autoDelete="true" streaming="true" validateConnections="true"/>

    <jms:activemq-connector name="Active_MQ" validateConnections="true" durable="true" persistentDelivery="true" doc:name="Active MQ" clientId="Amazonia"  specification="1.1" brokerURL="tcp://localhost:61616"/>
    
<!--     <file:endpoint path="${anulaciones.path}" outputPattern="anulacion_#[message:id]_#[function:datestamp:YYYYMMdd_hhmmss_sss].csv" connector-ref="FileConnector-AnulacionesPedidos" name="FileEndpoint-AnulacionesPedidos" doc:name="FileEndpoint-AnulacionesPedidos" responseTimeout="10000"/> -->

    <file:endpoint path="C:\outputMiddleware\cancelaciones" outputPattern="anulacion_#[sessionVars['freezeDateTime']].csv" connector-ref="FileConnector-AnulacionesPedidos" name="FileEndpoint-AnulacionesPedidos" doc:name="FileEndpoint-AnulacionesPedidos" responseTimeout="10000"/>
    
    <flow name="ReservaPedido-Stock">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/stockAmazonia" doc:name="HTTP" />
		<!-- <logger message=".#[message.inboundProperties.'http.request.path']" -->
		<!-- level="INFO" doc:name="Logger" /> -->
		<cxf:jaxws-service doc:name="CXF-STOCKService"
			serviceClass="uy.edu.fing.middleware.obligatorio2.ws.interfaces.StockAmazoniaService"
			port="StockServicePort" service="StockService" />
		<message-properties-transformer scope="invocation"
			doc:name="Message Properties">
			<delete-message-property key="method" />
		</message-properties-transformer>
        <response>
            <custom-transformer class="uy.edu.middleware.obligatorio2.transformers.AmazoniaResponseTransformer" doc:name="Java"></custom-transformer>
        </response>


		<custom-transformer
			class="uy.edu.middleware.obligatorio2.transformers.ItemToReservaProductoTransformer"
			doc:name="Java" />

		<cxf:jaxws-client
			wsdlLocation="http://localhost:8080/stockLocal/services/stock_local?wsdl"
			operation="reservaProductos" doc:name="CXF"
			serviceClass="uy.edu.fing.middleware.generated.amazonia.StockLocal" />
		<outbound-endpoint exchange-pattern="request-response"
			address="http://localhost:8080/stockLocal/services/stock_local"
			doc:name="Generic" />


	</flow>
    <flow name="AnulacionPedido-Stock-SOAP">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/anularStockAmazonia" doc:name="HTTP" />
		<cxf:jaxws-service doc:name="CXF-STOCKService"
			serviceClass="uy.edu.fing.middleware.obligatorio2.ws.interfaces.AnularStockAmazoniaService"
			port="AnularStockServicePort" service="AnularStockService" />

		<message-properties-transformer scope="invocation"
			doc:name="Message Properties">
			<delete-message-property key="method" />
		</message-properties-transformer>
        <response>
            <custom-transformer class="uy.edu.middleware.obligatorio2.transformers.AnularAmazoniaResponseTransformer" doc:name="Java"></custom-transformer>
        </response>



		<cxf:jaxws-client
			wsdlLocation="http://localhost:8080/stockLocal/services/stock_local?wsdl"
			operation="anularReserva" doc:name="CXF"
			serviceClass="uy.edu.fing.middleware.generated.amazonia.StockLocal" />
		<outbound-endpoint exchange-pattern="request-response"
			address="http://localhost:8080/stockLocal/services/stock_local"
			doc:name="Generic" />
	</flow>
    <flow name="ConfirmacionPedido-ePuerto">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/logStockAmazonia" doc:name="HTTP" />
		<logger message=".#[message.inboundProperties.'http.request.path']"
			level="INFO" doc:name="Logger" />
		<!-- <cxf:jaxws-service doc:name="CXF-STOCKService" -->
		<!-- serviceClass="uy.edu.fing.middleware.obligatorio2.ws.interfaces.LogStockAmazoniaService" 
			/> -->
		<!-- <component -->
		<!-- class="uy.edu.fing.middleware.obligatorio2.ws.endpoint.LogStockAmazoniaServiceImpl" -->
		<!-- doc:name="Java" /> -->
		<ws:consumer config-ref="Web_Service_Amazonia" operation="stockLocalLog"
			doc:name="Web Service Consumer" />
	</flow>
    <flow name="ReservaPedido-ePuerto">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/stockEPuerto" doc:name="HTTP" />
		<cxf:jaxws-service
			serviceClass="uy.edu.fing.middleware.obligatorio2.ws.interfaces.StockEPuertoService"
			doc:name="CXF-STOCKService" />
		<message-properties-transformer scope="invocation"
			doc:name="Message Properties">
			<delete-message-property key="method" />
		</message-properties-transformer>
		<expression-transformer
			expression="#['identificadorCompra,identificadorProducto,cantidad\r\n' + payload.idCompra+','+payload.idProducto+','+payload.cantidad ]"
			doc:name="Expression" />
		<set-session-variable variableName="freezeDateTime"
			value="#[server.dateTime.format('yyyy.MM.dd G \'at\' HH_mm_ss')]" doc:name="Store Date Time" />
		<set-session-variable variableName="inputfilepath"
			value="#['C:\\outputMiddleware\\confirmaciones\\'+'compra-'+sessionVars['freezeDateTime']+'.csv']"
			doc:name="Input Filepath" />
		<file:outbound-endpoint
			path="C:\outputMiddleware\ordenes2"
			outputPattern="#['compra-' +sessionVars['freezeDateTime']+'.csv']"
			connector-ref="FileConnector" responseTimeout="10000" doc:name="FileOutput-RecepcionPedido" />
		<scripting:component doc:name="Groovy">
			<scripting:script engine="Groovy"><![CDATA[
						sleep(5000);
						new File(sessionVars['inputfilepath']).text]]></scripting:script>
		</scripting:component>
		<object-to-string-transformer doc:name="Object to String" />
		<expression-transformer expression="#[org.mule.util.StringUtils.removeStart(message.payload, 'identificadorCompra,identificadorReserva,codigo,descripcion\r\n')]"
			doc:name="Splitter" />
		<expression-transformer
			expression="#[org.mule.util.StringUtils.split(message.payload, ',')]"
			doc:name="Expression" />
		<custom-transformer
			class="uy.edu.middleware.obligatorio2.transformers.EPuertoResponseTransformer"
			doc:name="Java" />
	</flow>
    <flow name="AnulacionPedido-ePuerto-SOAP">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/cancelaEPuerto" doc:name="HTTP" />

		<cxf:jaxws-service
			serviceClass="uy.edu.fing.middleware.obligatorio2.ws.interfaces.CancelaEPuertoService"
			doc:name="CXF-STOCKService" />
		<component
			class="uy.edu.fing.middleware.obligatorio2.ws.endpoint.CancelaEPuertoServiceImpl"
			doc:name="Java" />
		<!-- <splitter enableCorrelation="ALWAYS" expression="#[payload.productos]" -->
		<!-- doc:name="Copy_of_Splitter"> -->
		<!-- <expression-message-info-mapping -->
		<!-- messageIdExpression="#[java.util.UUID.randomUUID().toString()]" -->
		<!-- correlationIdExpression="#[payload.idCompra]" /> -->
		<!-- </splitter> -->
		<expression-transformer expression="#['idReserva\n' + payload.idReserva]"
			doc:name="Expression" />
		<file:outbound-endpoint
			 
			 doc:name="FileOutput-AnulacionPedido"  ref="FileEndpoint-AnulacionesPedidos"/>
	</flow>
    <flow name="mulePagosYa">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/pagosYa" doc:name="HTTP" />
		<cxf:jaxws-service doc:name="CXF-Service2"
			serviceClass="uy.edu.fing.middleware.obligatorio2.ws.interfaces.PagosRestService" />
		<message-properties-transformer scope="invocation"
			doc:name="Message Properties">
			<delete-message-property key="method" />
			<!-- <response> -->
			<!-- <custom-transformer -->
			<!-- class="uy.edu.middleware.obligatorio2.transformers.PagoResponseTransformer" -->
			<!-- doc:name="Java" /> -->
			<!-- </response> -->
		</message-properties-transformer>
		<json:object-to-json-transformer
			doc:name="Object to JSON" />
        <response>
            <object-to-string-transformer doc:name="Object to String"></object-to-string-transformer>
            <custom-transformer class="uy.edu.middleware.obligatorio2.transformers.PagoResponseTransformer" doc:name="Java"></custom-transformer>
        </response>



		<logger message=".#[message.payload]" level="INFO" doc:name="Logger" />
		<http:request config-ref="HTTP_Request_Configuration"
			path="pedidosYa/rest/pagoyaservice" method="POST" doc:name="HTTP" />


	</flow>

    <flow name="AnulacionPedido-ePuerto-JMS" initialState="started" tracking:enable-default-events="true">
        <jms:inbound-endpoint topic="anulacion-pedido" connector-ref="Active_MQ" tracking:enable-default-events="true" durableName="ePuerto" doc:name="JMS-AnulacionPedido" />
        <logger message="ePuerto: Anulacion recibida: #[payload]" level="INFO" doc:name="Logger"/>
        <set-session-variable variableName="freezeDateTime"
			value="#[server.dateTime.format('yyyy.MM.dd G \'at\' HH_mm_ss')]" doc:name="Store Date Time" />
	    <expression-transformer
			expression="#['identificadorReserva\r\n' + payload]"
			doc:name="PayloadFormatter" />
        <file:outbound-endpoint doc:name="FileOutput-AnulacionPedido" ref="FileEndpoint-AnulacionesPedidos" responseTimeout="10000"/>
    </flow>
    
    <flow name="AnulacionPedido-Stock-JMS" initialState="started" tracking:enable-default-events="true">
        <jms:inbound-endpoint topic="anulacion-pedido" connector-ref="Active_MQ" tracking:enable-default-events="true" durableName="Stock" doc:name="JMS-AnulacionPedido" />
        <logger message="Stock: Anulacion recibida: #[payload]" level="INFO" doc:name="Logger"/>
        <response>
            <logger level="INFO" doc:name="Logger"></logger>
        </response>
        <response>
            <custom-transformer class="uy.edu.middleware.obligatorio2.transformers.AnularAmazoniaResponseTransformer" doc:name="Java"></custom-transformer>
        </response>


        <custom-transformer class="uy.edu.middleware.obligatorio2.transformers.StringToLongTransformer" doc:name="StringToLong"/>

		<cxf:jaxws-client
			wsdlLocation="http://localhost:8080/stockLocal/services/stock_local?wsdl"
			operation="anularReserva" doc:name="CXF"
			serviceClass="uy.edu.fing.middleware.generated.amazonia.StockLocal" />
		<outbound-endpoint exchange-pattern="request-response"
			address="http://localhost:8080/stockLocal/services/stock_local"
			doc:name="Generic" />
    </flow>
</mule>
